<footer>
    <p> <a href= "#"> Sus </a></p>
    <p> <small> © Copyright protected&nbsp;&nbsp;&nbsp;e-mail: </small> <a href="mailto:observator@astronomic.ro"><small>observator@astronomic.ro</small> </a>  </p>
</footer>