<!DOCTYPE html>
<html lang='ro'>
	<head>
		<title> Expeditii in spatiu </title>
		<meta charset="UTF-8">
		<meta name="description" content="Expeditii in spatiu">
		<meta name="keywords" content="spatiu, misiune, racheta">
		<meta name="author" content="David Albert-Constantin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-len" href = "images/astronomy-for-beginners.jpg">
		<link rel="stylesheet" type="text/css" href="Style/CommonStyle.css">
		<link rel="stylesheet" type="text/css" href="Style/StillQA.css">
		<link rel="stylesheet" href="Style/StilExpQA-780.css" type="text/css" media="screen and (min-width:400px) and (max-width: 780px)"/>
		<link rel="stylesheet" href="Style/StilExpQA-400.css" type="text/css" media="screen and (max-width: 400px)"/>
	</head>
	
	<body>
		<%- include("../fragmente/headerExpeditii") %>
		<main>
			<section class="fundal">
				<h2> Expeditii in spatiu </h2>
				<p> 
					Odata cu avansul in tehnologie, oamenii au decis sa nu mai astepte si sa exploreze necunoscutul. 
				</p>
				<div class='nimic'>
				</div>
			</section>
		</main>
		<%- include("../fragmente/footerCorpuri") %>
	</body>
	
</html>